<form [formGroup]="form">
  <mat-form-field class="fullWidth">
    <mat-label>{{ key.label }}</mat-label>
    <textarea [type]="key.type" matInput formControlName="{{ key.key }}"></textarea>
    <button *ngIf="form.get(key.key).value" matSuffix mat-icon-button aria-label="Clear" (click)="form.get(key.key).setValue('')">
      <mat-icon>close</mat-icon>
    </button>

    <mat-error *ngIf="form.get(key.key).hasError('required')">
      {{key.label}} is <strong>required</strong>
    </mat-error>
  </mat-form-field>
</form>
