<form [formGroup]="form" xmlns="http://www.w3.org/1999/html">
  <mat-form-field>
    <mat-label>{{ key.label }}</mat-label>
    <input type="text" matInput [value]="fileName" readonly>

    <mat-error *ngIf="form.get(key.key).hasError('required')">
      {{key.label}} is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <button type="button" class="add-file" mat-raised-button (click)="imgFileInput.click()">Aggiungi File</button>
  <input hidden type="file" #imgFileInput (change)="previewImage($event)"/>
</form>
