ion-content::part(background) {
    background: #de542c;
}

.ion-padding{
    padding: 16px;
}

ion-checkbox {
    --size: 16px;
    --background:#de542c;
    --background-checked: #de542c;
    --border-color: #fff;
    --border-color-checked: #fff;
    --color-checked:#fff;
    --border-radius: 4px;
    margin-right: 8px;
    margin-left: 8px;
}


.double-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


ion-item{
    --background: #de542c;
    --color:#fff;
    border: 0;
}

ion-input {
    --color: #fff;
    --border-bottom: solid #fff 1px;
    --margin-bottom: 16px;
}