<ion-content class="ion-padding">
  <h1>Registrati</h1>
  <ion-label>Nome</ion-label>
  <ion-input></ion-input>

  <ion-label>Cognome</ion-label>
  <ion-input></ion-input>
  
  <!-- <ion-label >Sesso</ion-label> -->
  <div class="double-row">
    <ion-radio-group value="custom-checked">
    <ion-radio value="checkbox"></ion-radio>
    <ion-label>Uomo</ion-label>
    <ion-radio value="checkbox-checked"></ion-radio>
    <ion-label>Donna</ion-label>
    </ion-radio-group>
    <div>
      <ion-label>Data di nascita</ion-label>
      <ion-input placeholder="gg/mm/aaaa"></ion-input>
    </div>
  </div>

  <ion-label >Indirizzo</ion-label>
  <ion-input ></ion-input>

  <div class="double-row">
    <div>
      <ion-label>CAP</ion-label>
      <ion-input></ion-input>
    </div>
    <div>
      <ion-label>Numero di telefono</ion-label>
      <ion-input ></ion-input>
    </div>
  </div>

  <ion-label >Nome utente</ion-label>
  <ion-input ></ion-input>

  <ion-label >Email</ion-label>
  <ion-input></ion-input>

  <ion-label >Password</ion-label>
  <ion-input  type="password"></ion-input>

  <ion-button expand="block" color="dark" routerLink="/auth">REGISTRATI</ion-button>
</ion-content>
