ion-content::part(background) {
    background: #de542c;
}

ion-card{
    background-color: #ffffff;
    border-radius: 16px;
}

.profile{
    display: flex;
    align-items: center;
    flex-direction:column;
}
.image-card{
    border-radius: 50%;
    height: 50px;
}

.left-col{
    display:flex;
    flex-direction:column;
    align-items: flex-end;
    color:#de542c
}

.right-col{
    display:flex;
    flex-direction:column;
}

.avatar{
    display: flex;
    justify-content: center;
    padding: 8px;
}

.edit-btn{
    position: fixed;
    right: 35%;
    top: 16%;
}

.title{
    display: flex;
    justify-content: center;
    color:#de542c ;
}