ion-content::part(background) {
    background: #de542c;
}

ion-card{
    background-color: #ffffff;
    border-radius: 16px;
}

.profile{
    display: flex;
    align-items: center;
    flex-direction:column;
}
.image-card{
    border-radius: 50%;
    height: 50px;
}

.left-col{
    display:flex;
    flex-direction:column;
    align-items: flex-end;
    color:#de542c
}

.right-col{
    display:flex;
    flex-direction:column;
}

.rounded-box {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
}

.outer {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: absolute;
}

.inner {
    position: absolute;
    bottom: -24px;
    right: -24px;
}

.title{
    display: flex;
    justify-content: center;
    color:#de542c ;
}
.container {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
}

.outer {
    width: 100%;
    height: 100%;
    max-width: 100px;
    max-height: 100px;
    margin: auto;
    background-color: #6eafd4;
    border-radius: 100%;
    position: relative;
}

.inner {
    border-radius: 100%;
    position: absolute;
    bottom: -24px;
    right: -24px;
}