ion-card{
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    border-radius: 16px;
}

ion-content::part(background) {
    background: #de542c;
}

.title{
    color: #3e3c3f;
    font-size: 16px;
    margin: 0px  0px -16px 8px;
}
.adress{
    font-size: 12px;
}
.image-card{
    border-radius: 50%;
    margin: 10px;
}
ion-chip {
    background: #de542c;
    color: #ffffff;
    width: 60px;
    height: 20px;
}

capacitor-google-map {
    display: inline-block;
    width: 275px;
    height: 400px;
}

ion-header{
    background-color:#de542c;
    color: aqua;
  }
  
  ion-searchbar.custom {
    --background: #ffffff;
    --color: #798DA3;
    --icon-color: #de542c;
    --border-radius: 16px;
  }