<app-header></app-header>

<ion-content class="body container">
    restaurants
    <ion-card class="card">
        <ion-grid>
            <ion-row>
                <ion-col size="2">
                    <ion-avatar>
                    </ion-avatar>
                </ion-col>
                <ion-col size="10">
                    <ion-card-title class="title">Titolo<ion-chip color="warning">342m</ion-chip></ion-card-title>
                    <ion-card-content class="adress">
                        via milano
                    </ion-card-content>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>

</ion-content>
