<app-header></app-header>

<ion-content class="body container">
    <ion-card class="card" *ngFor="let i of restaurants" [routerLink]="[i.id]" button>
        <ion-grid>
            <ion-row>
                <ion-col size="2">
                    <ion-avatar>
                    </ion-avatar>
                </ion-col>
                <ion-col size="10">
                    <ion-card-title class="title">{{i.name}}<ion-chip color="warning">342m</ion-chip></ion-card-title>
                    <ion-card-content class="adress">
                        {{i.restaurantAddress}}
                    </ion-card-content>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>

</ion-content>
