ion-input {
    --color: #fff;
    --border-bottom: solid #fff 1px;
    --margin-bottom: 16px;
}
.double-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 16px;
}

.password{
    display: flex;
    justify-content: space-between;
}
ion-label{
    color: #fff;
}

.title{
    color:#de542c ;
}

.centered{
    display: flex;
    justify-content: center;
    margin-top: 24px;
    margin-bottom: 16px;
    align-items: flex-end;
}
.text{
    color:#fff;
    text-align: center;
}

ion-item{
    --background: #de542c;
    --color:#fff;
    border: 0;
}

ion-button {
    --background: #c34a27;
}

ion-icon{
    color: #fff;
}



