ion-content::part(background) {
    background: #de542c;
}

ion-button{
    color:#fff
}

ion-checkbox {
    --size: 16px;
    --background:#de542c;
    --background-checked: #de542c;
    --border-color: #fff;
    --border-color-checked: #fff;
    --border-radius: 4px;
    margin-right: 8px;
    margin-left: 8px;
}


ion-input {
    --color: #fff;
    border-bottom: solid #fff;
    margin-bottom: 16px;

}

ion-label{
    color: #fff;
}

.double-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.centered{
    display: flex;
    justify-content: center;
    margin: 16px;
    align-items: flex-end;
}
.title{
    display: flex;
    justify-content: center;
}

