ion-label{
    color: #fff;
}

.double-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;

}

.centered{
    display: flex;
    justify-content: center;
    margin-top: 24px;
    margin-bottom: 16px;
    align-items: flex-end;
}
.title{
    display: flex;
    justify-content: center;
}

ion-item{
    --background: #de542c;
    --color:#fff;
    border: 0;
}

ion-input {
    --color: #fff;
    --border-bottom: solid #fff 1px;
    --margin-bottom: 16px;
}



