<ion-tabs >

  <ion-tab-bar slot="bottom" class="Tabs">

    <ion-tab-button tab="restaurants" class="Tab">
      <ion-icon name="storefront-sharp"></ion-icon>
      <ion-label>Locali</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="reservation" class="Tab">
      <ion-icon name="bag-check-sharp"></ion-icon>
      <ion-label>Prenotazioni</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notification" class="Tab">
      <ion-icon name="notifications-sharp"></ion-icon>
      <ion-label>Notifiche</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="occasion" class="Tab">
      <ion-icon name="bulb-sharp"></ion-icon>
      <ion-label>Occasioni</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" class="Tab">
      <ion-icon name="person-circle-sharp"></ion-icon>
      <ion-label>Profilo</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>

</ion-tabs>
