<app-header></app-header>

<ion-content class="body container">
    restaurants
    <ion-card *ngFor="let item of restaurants" button [routerLink]="[item.id]" class="card">
        <ion-grid>
            <ion-row>
                <ion-col size="2">
                    <ion-avatar>
                    </ion-avatar>
                </ion-col>
                <ion-col size="10">
                    <ion-card-title class="title">{{item.title}}<ion-chip color="warning">{{item.vote_count}}</ion-chip></ion-card-title>
                    <ion-card-content class="adress">
                        {{item.release_date}}
                    </ion-card-content>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>

    <!-- <ion-infinite-scroll (ionInfinite)="updateList($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading.."></ion-infinite-scroll-content>
    </ion-infinite-scroll> -->

</ion-content>
